on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    

on init
    setprop sys.usb.configfs 1
    # Don't lose recovery logs- keep warm reset for coming out of recovery.
    write /sys/module/msm_poweroff/parameters/warm_reset 1
    # Enable thermal mitigation
    write /sys/devices/virtual/thermal/tz-by-name/backup-charge/mode enabled
import /vendor/etc/init/hw/init.${ro.boot.hardware.platform}.rc

on property:vendor.all.modules.ready=1
    chown system system /sys/bus/i2c/drivers/fts/1-0049/stm_fts_cmd
    chown system system /sys/bus/i2c/drivers/fts/1-0049/glove_mode

# Toggle glove_mode according to touch_sensitivity_mode
on property:persist.vendor.touch_sensitivity_mode=0 && property:sys.boot_completed=1
    write /sys/bus/i2c/drivers/fts/1-0049/glove_mode 00

on property:persist.vendor.touch_sensitivity_mode=1 && property:sys.boot_completed=1
    write /sys/bus/i2c/drivers/fts/1-0049/glove_mode 01

# Route touch_sensitivity_mode to persist
on property:debug.touch_sensitivity_mode=0
    setprop persist.vendor.touch_sensitivity_mode 0

on property:debug.touch_sensitivity_mode=1
    setprop persist.vendor.touch_sensitivity_mode 1

service vendor.mdm_helper /vendor/bin/mdm_helper
    class core
    group system wakelock
    user root